@import "../index.css";


.barClass {
    position: sticky;
    top: 0;
    background-color: var(--color-nav);
    display: flex;
    gap: 70px;
    padding: 20px 50px;
    align-items: center;
    font-weight: bold;
}

.barClass * {
    text-decoration: none;
}

.barClass *:visited {
    color: black;
}

.titleClass {
    font-size: 1.5rem;
    font-weight: bold;
}

.itemsClass {
    display: flex;
    gap: 30px;
}

.bagClass {
    margin-left: auto;
}

.itemsClass>*:hover,
.bagClass:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

@media (max-width: 500px) {
    .barClass {
        position: static;
        flex-direction: column;
        justify-content: center;
    }

    .bagClass {
        margin: 0;
    }
}