@import "../index.css";

.itemsClass {
    margin-left: 60px;
}

.contentClass {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-nav);
    max-width: 900px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.card {
    grid-column: 1/2;
    grid-row: 1/4;
    max-width: 250px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityClass {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.buttonClass {
    width: 3em;
    height: 3em;
}

.totalClass {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 60px;
}

@media (max-width: 550px) {
    .itemsClass {
        margin: 20px;
    }
    
    .contentClass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}